.popover-chat {
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  word-break: break-all;
}
.chat-item-container {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
}
.chat-item-date {
  text-align: center;
  width: 100%;
  color: gray;
  font-size: 12px;
  margin-bottom: 20px;
}
.chat-item-content {
  display: flex;
}